body {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

#quiz {
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 80%;
  font-size: 16px;
}
