body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 10px;
  background: #f2f2f2;
}

h1 {
  text-align: center;
}

.card {
  background: #fff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
}

button {
  font-size: 18px;
  padding: 10px 14px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #4caf50;
  color: white;
}

button:active {
  background: #388e3c;
}

input, select {
  font-size: 18px;
  padding: 8px;
  width: 100%;
  margin: 8px 0;
}

#pf-buttons button {
  width: 30%;
}
